* {
    box-sizing: border-box;
}

html {
    display: inline-block;
    font-family: 'Nanum Gothic', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    padding: 3% 20%;
    text-align: center;
    margin: auto;
    background: rgb(253,255,180);
    background: linear-gradient(0deg, rgba(253,255,180,1) 0%, rgba(201,252,142,1) 100%);
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
    }

button {
    border:none;
    background-color: transparent;

}

    /* input */

.input-form {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 70px;
    background-color: white;
    border-radius: 40px;
    overflow: hidden;
    box-shadow: 1px 1px 7px rgb(180,230,200);

}
.input-section {
    margin: auto;

    position: relative;
    max-width: 500px;
}

input {
    border : none;
    outline: none;
}


.input-text {
    height: 60%;
    padding: 0 0 0 5%;
    font-size: 1.5rem;
    line-height: 100%;
}
.input-price {
    height: 40%;
    padding: 0 0 0 5%;
    font-size: 1rem;
    line-height: 100%;
}

.input-button {
    width: 70px;
    height: 100%;
    background-color: #F9F871;
    border: none;
    border-radius: 50%;
    color: salmon;
    font-size: 2rem;
    position: absolute;
    top: 0;
    right: 0;
    transition: all 200ms ease-out;
}

.input-button:hover { 
    background-color:salmon;
    color: #F9F871;
    cursor: pointer;
}

.input-button:active {
    transform: scale(1.1);
}

.custom-shape-divider-bottom-1638861469 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: -5;
}

.custom-shape-divider-bottom-1638861469 svg {
    position: relative;
    display: block;
    width: calc(123% + 1.3px);
    height: 300px;
    z-index: -5;
}

.custom-shape-divider-bottom-1638861469 .shape-fill {
    fill: #FFAFAF;
    z-index: -5;
}

/* main */

.main {
    max-width: 500px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    height: 75vh;
    background-color: white;
    padding: 3% 3%;
    margin: auto;
    margin-top: 5%;
    border-radius: 10px;
    box-shadow: 1px 1px 7px rgb(180,230,200);
}

.shopping-list {
    overflow:auto;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
    white-space:nowrap;

}

.item-name {
    max-width: 200px;
    overflow: hidden;
}

.item-price {
    display: inline-block;
    text-align: start;
    width: 100px;
    white-space:nowrap;
}
.item span i {
    margin-right: 3px;
}

.item-checkbox:checked + .item-name {
    text-decoration: line-through salmon 3px;
}

.item-delete {
    margin-left: 10px;
    font-size: 1rem;
    transition: color 200ms ease;
}

.item-delete:hover {
    color:salmon;
    cursor: pointer;
}

.item-delete:active {
    transform: scale(1.2);
}

.main-bottom {
    display: flex;
    justify-content: space-between;
}

.price{
    align-self: flex-start;

}

.all-delete {
    position: absolute;
    bottom: 3%;
    right: 3%;
    width: 50px;
    height: 50px;
    background-color: #F9F871;
    color: salmon;
    border-radius: 50%;
    font-size: 1.5rem;
    box-shadow: 1px 1px 4px rgb(180,230,200);
    transition: all 300ms ;
}

.all-delete:hover { 
    background-color:salmon;
    color: #F9F871;
    cursor: pointer;
    transform:rotate(-0.1turn);
}

.all-delete:active {
    transform: scale(1.1) rotate(-0.1turn);

}


@media screen and (max-width:700px) {
    body {
        padding: 5% 10%;
    }
    
}

@media screen and (max-width:480px) {

    body {
        padding : 30px 15px;
        height: 100vh;
        
    }

    .main {
        height: 80%;
        margin-top: 40px;
    }
    .input-button {
        transform: scale(0.8);
    }
    

    .input-text {
        padding-left:40px; 
        font-size: 1.2rem;
    }

    .input-price {
        font-size: 1rem;
        padding-left:40px; 

    }

    .item {
        font-size: 0.7rem;
        max-width: 300px;
        overflow: hidden;
    }
    .item-delete {
        font-size: 0.7rem;
    }
    .item-price {
        width: 60px;
        overflow: hidden;
    }
    .item-name {
        display: inline-block;
        max-width: 145px;
        overflow: hidden;
    }
    

    .price {
        font-size: 0.8rem;
        margin-bottom: 10px;
    }

    .all-delete {
        transform: scale(0.8);
    }
}

@media screen and (max-width:300px) {
    .input-text {
        padding-left:20px; 
        font-size: 0.9rem;
    }

    .input-price {
        font-size: 0.8rem;
        padding-left:20px; 

    }
    .main {
        padding: 10px
    }
    .item {
        font-size: 0.7rem;
        max-width: 230px;
        overflow: hidden;
    }
    .item-delete {
        font-size: 0.7rem;
    }
    .item-price {
        width: 70px;
        overflow: hidden;
    }
    .item-name {
        display: inline-block;
        max-width: 160px;
        overflow: hidden;
    }

}